<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rawky</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/sectionStyle.css">
    <link rel="stylesheet" href="../public/css/homeStyle.css">

</head>

<body>

<header class="menu">
    <a href="#home" class="logo">Rawky</a>
    <ul>
        <li><a href="#home">HOME</a></li>
        <li><a href="#quienesSomos">QUIENES SOMOS</a></li>
        <li><a href="#productos">PRODUCTOS</a></li>
    </ul>
</header>

<div class="menu-social-links">
    <ul>
        <li><a href="#" class="icons fa fa-instagram"></a></li>
        <li><a href="#" class="icons fa fa-twitter"></a></li>
    </ul>
</div>

    <section id="home" class="home">
        <h1>Rawky</h1>
        <p>Bienvenido a nuestra página</p>
    </section>

<section class="quienesSomos" id="quienesSomos">Quienes Somos</section>
<section class="productos" id="productos">Productos</section>
</div>
</body>
</html>