/* SECCIONES */
.home ,.quienesSomos,.productos{
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}
section:nth-child(odd){
    background: #d0dbe0;
}
/* HOME */
.home {
    width: 100%;
    color: #000000;
    top: 50%;
    left: 8%;
    transform: translateY(-50);
    z-index: 2;

}
p{
    font-size: 10px;
}
h1{
    font-size: 20px;
}
